<app-navbar></app-navbar>

<div [ngSwitch]="appState">
    <app-registro *ngSwitchCase="'register'"></app-registro>
    <app-pokeseleccion 
        *ngSwitchCase="'team'"
        [pasatiempo]="pasatiempo"
        [edad]="edad"
        [documento]="documento"
        (changeViewEvent)="changeViewEvent($event)"
        (sendPokesEvent)="sendPokesEvent($event)"
    ></app-pokeseleccion>
    <app-profile 
        *ngSwitchCase="'profile'"
        (changeViewEvent)="changeViewEvent($event)"
        (sendDataEvent)="getDataEvent($event)"
    ></app-profile>
    <app-home 
        *ngSwitchCase="'home'"
        (changeViewEvent)="changeViewEvent($event)"
        [pasatiempo]="pasatiempo"
        [edad]="edad"
        [documento]="documento"
        [user]="user"
        [pokes]="pokes"
    ></app-home>

</div>

