
<div class="welcome-wrapper">
    <div class="welcome-div">
        <div class="welcome-edit-profile">
            <h1>¡Hola {{user}}!</h1>
            <div>
                <button (click)="edit('profile')" class="btn-edit">
                    <object data="./assets/edit_24px.svg" type=""></object>
                    Editar perfil
                </button>
            </div>
        </div>

        <div class="profile-wrapper">
            <div class="img-profile-wrapper">
                <div class="img-profile-container">
                    <div class="title-profile">
                        <p>Entrenador</p>
                        <div><img src="./assets/insignia.png" alt=""></div>
                    </div>
                    <div class="img-profile-tumbl"></div>
                    <div class="data-profile">
                        <div class="row-profile">
                            <div class="col-caract">Pasatiempo:</div>
                            <div class="col-response">{{pasatiempo}}</div>
                        </div>
                        <div class="row-profile">
                            <div class="col-caract">Edad:</div>
                            <div class="col-response">{{edad}}</div>
                        </div>
                        <div class="row-profile">
                            <div class="col-caract">DUI:</div>
                            <div class="col-response">{{documento}}</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="team-info-wrapper">
        <div class="team-info-container">
            <div class="team-info-title">
                <p>Mis Pokémon</p>
                <div>
                    <button (click)="edit('team')" class="btn-edit">
                        <object data="./assets/edit_24px.svg" type=""></object>
                        Editar
                    </button>
                </div>
            </div>
            <div class="team-data-container">
                <div *ngFor="let poke of pokes" class="team-data">
                    <div class="poke-info">
                        <img src="{{poke.characteristics.image}}" alt="">
                        <div class="poke-info-text">
                            <p>{{poke.name}}</p>
                            <span>Planta/Veneno</span> 
                        </div>
                    </div>
                    <div class="poke-data">
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                HP
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.HP" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Ataque
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.attack" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Defensa
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.defense" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Ataque Especial
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.specialAttack" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Defensa Especial
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.specialDefense" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Velocidad
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div [appBarwidth]="poke.characteristics.velocity" class="poke-data-barra-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>