<div class="welcome-wrapper">
    <div class="welcome-div">
        <div class="welcome-edit-profile">
            <h1>¡Hola José!</h1>
            <div>
                <button class="btn-edit">
                    <object data="./assets/edit_24px.svg" type=""></object>
                    Editar perfil
                </button>
            </div>
        </div>

        <div class="profile-wrapper">
            <div class="img-profile-wrapper">
                <div class="img-profile-container">
                    <div class="title-profile">
                        <p>Entrenador</p>
                        <div><img src="./assets/insignia.png" alt=""></div>
                    </div>
                    <div class="img-profile-tumbl"></div>
                    <div class="data-profile">
                        <div class="row-profile">
                            <div class="col-caract">Pasatiempo:</div>
                            <div class="col-response">Ver Series</div>
                        </div>
                        <div class="row-profile">
                            <div class="col-caract">Edad:</div>
                            <div class="col-response">18 años</div>
                        </div>
                        <div class="row-profile">
                            <div class="col-caract">DUI:</div>
                            <div class="col-response">05643215-9</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="team-info-wrapper">
        <div class="team-info-container">
            <div class="team-info-title">
                <p>Mis Pokémon</p>
                <div>
                    <button class="btn-edit">
                        <object data="./assets/edit_24px.svg" type=""></object>
                        Editar
                    </button>
                </div>
            </div>
            <div class="team-data-container">
                <div class="team-data">
                    <div class="poke-info">
                        <img src="./assets/bulba.png" alt="">
                        <div class="poke-info-text">
                            <p>Bulbasour</p>
                            <span>Planta/Veneno</span> 
                        </div>
                    </div>
                    <div class="poke-data">
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                HP
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Ataque
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Defensa
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Ataque Especial
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Defensa Especial
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="poke-data-list">
                            <div class="poke-data-info">
                                Velocidad
                            </div>
                            <div class="poke-data-barra">
                                <div class="poke-data-barra-t">
                                    <div class="poke-data-barra-t1"> 
                                        <div class="poke-data-barra-green">   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>